<div class="row">
    <div class="col-md-3 accordion-filters" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne" (click)="toggle()">
                <h5 class="mb-0">
                    <div class="head">
                        <span class="filter">{{filtrosLabel}}</span>
                        <span *ngIf="show" class="icon-triangle-up"></span>
                        <span *ngIf="!show" class="icon-triangle-down"></span>
                    </div>
                </h5>
            </div>

            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#ac1" *ngIf="show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="search-label">
                                <img class="icono-star" src="{{iconoSearch}}" /> {{nombreHotelLabel}}
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm search">
                            <form class="form-inline">
                                <div class="form-group col-sm-8 ">
                                    <input [(ngModel)]="searchName" name="searchName" type="text" class="form-control object-responsive" ctrl="ngModel" placeholder="Ingrese el nombre del hotel">
                                </div>
                                <button class="btn btn-primary col-sm-4 color-title" (click)="getHoteles()">{{aceptar}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="search-label">
                                <img class="icono-star" src="{{iconoStar}}" /> {{estrellaLabel}}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-check" *ngFor="let item of estrellas">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" (change)="getByStars(item.stars,item.value)" [value]="item.value" type="checkbox" id="{{item.id}}">
                                <label class="form-check-label" for="{{item.id}}">
                                  <span [hidden]="item.stars === -1" *ngFor="let star of getStarts(item.stars)">
                                    <img class="icono-star" src="{{star}}" />
                                  </span>
                                  <span [hidden]="item.stars !== -1">{{allStars}}</span>
                          </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 container-hoteles">
        <div *ngIf="!hoteles">Cargando hoteles...</div>
        <div *ngIf="error">
            {{error}}
        </div>
        <div *ngFor="let hotel of hoteles">
            <app-hoteles-list [hotel]='hotel'></app-hoteles-list>
        </div>
    </div>
</div>